<section id="about" class="animate-section">
    <div class="container">
        <h2 class="animate-item">O nama</h2>
        <div class="about-content">
            <div class="about-text animate-item">
                <p>Huzur je osnovan 2024. s jednostavnom misijom: podijeliti ljepotu prirode kroz umjetno izrađene
                    cvjetne aranžmane.</p>
                <p>Huzur predstavlja mir u svim dimenzijama života. Huzurlu osoba je ispunjen čovjek, spokojan,
                    emotivno i tjelesno zdrav. Onaj koji je spoznao da materijalno nije odrednica vrijednosti, koji
                    je pronikao u srž duhovnosti, zavolio sebe, svoje unutarnje ja i stvorio apsolutnu ravnotežu u
                    svom mikrosvijetu.</p>
                <p> Huzur kao ravnoteža duše, osjećanja, ravnoteža želja i stvarnosti, mašte i realnosti. Huzur kao
                    iskonska sreća, jer čovjek može biti miran iako nije sretan, ali ne može biti sretan ako nije
                    miran.</p>
                    <a (click)="scrollToSection('products')" class="btn">Istražite našu ponudu</a>
            </div>
            <div class="about-image animate-item">
                <img src="assets/img/huzur-radnja.png" alt="Our flower shop" class="image">
                <div class="image-overlay">Maršala Tita 134</div>
            </div>
        </div>
    </div>
</section>