<section id="about" class="animate-section">
    <div class="container">
        <h2 class="animate-item">O nama</h2>
        <div class="about-content">
            <div class="about-text animate-item">
                <p>Huzur Mostar je cvjećara smještena u srcu Mostara. Nije to samo cvjećara to je jedna čitava cvjetna
                    priča čiji se uvod tek piše i čita. </p>
                <p>Pomoću prirodne cvjetne blagodati prenosimo priču najrazličitijih cvjetnih aranžmana spremljenih od
                    svježeg rezanog cvijeća, sadnica, lončanica, suhog cvijeća ili pak umjetnog. </p>
                <p>Misao vodilja u huzur priči jeste da je sreća zapravo znati uživati u procesu. Proces kreće
                    prvenstveno odabirom cvijeća za aranžmane, njegovom adekvatnom pripremom, a onda i aranžiranjem.
                    Trenutak kada se sreća mnogostruko dijeli jeste onaj u kojem huzur ljudi preuzimaju svoje cvjetne
                    aranžmane.</p>
                <p>Huzur predstavlja mir u svim dimenzijama života.
                    Huzurlu insan je ispunjen čovjek, spokojan, emotivno i tjelesno zdrav.
                    Onaj koji je spoznao da materijalno nije odrednica vrijednosti, koji je pronikao u srž duhovnosti,
                    zavolio sebe, svoje unutarnje ja i stvorio apsolutnu ravnotežu u svom mikrosvijetu.
                    Huzur kao ravnoteža duše, osjećanja, ravnoteža želja i stvarnosti, mašte i realnosti.
                    Huzur kao iskonska sreća, jer čovjek može biti miran iako nije sretan, ali ne može biti sretan ako
                    nije miran.</p>
                <a (click)="scrollToSection('contact')" class="btn">Kontaktirajte nas</a>
            </div>
            <div class="about-image animate-item" (click)="toggleImageOverlay($event)">
                <img src="assets/img/optimized/huzur-radnja.webp" alt="Our flower shop" class="image" loading="lazy" width="800" height="1000">
                <div class="image-overlay">Maršala Tita 134</div>
            </div>
        </div>
    </div>
</section>