<footer>
    <div class="container">
        <div class="social-links">
            <h3>Pratite nas</h3>
            <div class="links">
                <a href="https://www.instagram.com/huzur.mostar/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/huzur.mostar" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://maps.app.goo.gl/hL1ufk8A72UMajRF7" target="_blank">
                    <i class="fa fa-map-marker"></i>
                </a>
            </div>
        </div>
        <button id="scrollToTop" title="Scroll to top" (click)="scrollToTop()">
            <i class="fas fa-arrow-up"></i>
        </button>
        <p id="copyright">&copy; {{ currentYear }} Huzur Mostar. Sva prava pridržana.</p>
    </div>
</footer>