<section id="home" class="animate-section">
    <div class="slideshow-container">
        <div class="slide" *ngFor="let image of optimizedBackgroundImages; let i = index" 
             [ngClass]="{'active': currentImageIndex === i}"
             [style.backgroundImage]="'url(' + image + ')'">
        </div>
    </div>
    <div class="container">
        <div class="hero-content animate-item">
            <div class="animated-text-container">
                <h1>Huzur Mostar</h1>
            </div>
            <p>Priča ispunjena radošću, bojama, kreativnošću, inspiracijom, huzur ljudima i zahvalnošću.</p>
            <a (click)="scrollToSection('products')" class="btn">Istražite našu ponudu</a>
        </div>
    </div>
    <div class="scroll-indicator-bottom" *ngIf="showScrollIndicator">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
    </div>
</section>