#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e76f51;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

#scrollToTop.visible {
  opacity: 1;
  visibility: visible;
}

#scrollToTop:hover {
  background-color: #2a9d8f;
  transform: translateY(-3px);
  border-radius: 50px;
}
