#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #e76f51;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 30px;
}

#scrollToTop.visible {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
}

#scrollToTop:hover {
  background-color: #2a9d8f;
  transform: translateY(-3px);
  border-radius: 50px;
}
